<%= turbo_frame_tag @bookmark do %>
  <%= form_for @bookmark, data: { controller: 'markdown unfurl bookmark-form', action: 'unfurl:update.title->bookmark-form#updateTitle unfurl:update.notes->markdown#updateContent' } do |f| %>
    <div class="space-y-12">
      <% if @bookmark.errors.any? %>
        <div class="rounded-md bg-red-50 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-red-800"> <%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved</h3>
              <div class="mt-2 text-sm text-red-700">
                <ul role="list" class="list-disc space-y-1 pl-5">
                  <% @bookmark.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-6">
            <%= f.label :title, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                <%= f.text_field :title, class: 'block flex-1 border-0 bg-transparent text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6', data: { unfurl_target: 'title', bookmark_form_target: 'title' } %>
              </div>
            </div>
          </div>
          <div class="sm:col-span-6">
            <%= f.label :url, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                <%= f.text_area :url, class: 'block flex-1 border-0 bg-transparent text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6', data: { unfurl_target: 'url' } %>
              </div>
              <button type="button" data-action="unfurl#fetch" class="mt-3 text-sm leading-6 text-gray-600">Unfurl?</button>
            </div>
          </div>
          <div class="sm:col-span-6">
            <%= f.label :tag_list, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                <%= f.text_field :tag_list, class: 'block flex-1 border-0 p-1 bg-transparent text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6', value: @bookmark.tags.map(&:name).join(','), data: { controller: 'tags-list', tags_list_autocomplete_url_value: search_tags_path, unfurl_target: 'tagsList' } %>
              </div>
            </div>
          </div>
          <div class="col-span-full prose z-20">
            <%= f.label :notes, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= f.text_area :notes, class: 'block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6', data: { markdown_target: 'textarea', unfurl_target: 'notes' }, rows: 6 %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 flex items-center gap-2">
      <%= link_to 'Back', bookmarks_path, class: 'inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50' %>
      <%= f.submit class: "inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-700 hover:bg-gray-800" %>
    </div>
  <% end %>
<% end %>
